<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
	<default>
		<customeraddress>
			<general>
				<enable>1</enable>
				<enable_postcode>1</enable_postcode>
				<minimum_search_length>4</minimum_search_length>
			</general>
		</customeraddress>

		<!-- fix : The Content-Security-Policy directive 'frame-ancestors' does not support the source expression ''unsafe-inline'' -->
		<csp>
			<policies>
					<storefront>
							<frame-ancestors>
									<inline>0</inline>
							</frame-ancestors>
					</storefront>
			</policies>
		</csp>
	</default>
</config>