<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
	<router id="admin">
		<route frontName="deki_customeraddress" id="deki_customeraddress">
			<module before="Magento_Backend" name="Deki_CustomerAddress"/>
		</route>
	</router>
</config>
